<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lqdev.java.scheduler.biz.dao.SchedLogDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sched_id, sched_name, start_time, end_time, result, gmt_create, gmt_modified
    </sql>

</mapper>
